#board-tile {
  height: 100px;
  width: 100px;
}

/* button {
  height: 100px;
  width: 100px;
  background-color: white
} */

.none{
  background-image: url(https://vignette.wikia.nocookie.net/stranded-deep/images/2/2d/Stone_Icon.png/revision/latest?cb=20171004030625);
  background-size: cover;
  height: 100px;
  width: 100px;

}
.point {
  /* background-color: green; */
  background-image: url(https://vignette.wikia.nocookie.net/farmville/images/0/04/Gold_Bar-icon.png/revision/latest?cb=20130223000158);
  background-size: cover;
  height: 100px;
  width: 100px;
}

button.bomb {
  content:url(https://www.shareicon.net/download/2016/03/04/319587_clanbomber_128x128.png);
  background-image: url(https://www.shareicon.net/download/2016/03/04/319587_clanbomber_128x128.png);
  background-size: cover;
  height: 100px;
  width: 100px;
}