.outer-paper {
  margin-top: 20px;
  margin: auto;
  padding: 20px;
  width: 60%;
}

.higher_score {
  background: green;
}

.lower_score {
  background: red;
}

.equal_score {
  background: yellow;
}
