.outer-paper {
  margin-top: 20px;
  margin: auto;
  padding: 20px;
  width: 60%;
}

.status{
  text-align: center;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
}
.countdownClock{
  margin-top: -20px;

  /* height: 100px;
  width: 100px; */
  /* text-align: center; */
}
.countdown{
  text-align: center;
}

.higher_score {
  background: white;
  background-image: url(../../images/facesmile.ico);
  background-size:68%;
  background-repeat: no-repeat;
  background-position: center;
  background-position-y: 50px;
  padding-bottom:30px;
  height: 100px;
  width: 100px;
  text-align: center

}

.lower_score {
  background: white;
  background-image: url(../../images/face.ico);
  background-size:68%;
  background-position: center;
  background-repeat: no-repeat;
  background-position-y: 50px;
  padding-bottom:30px;
  height: 100px;
  width: 100px;
  text-align: center; 
}
.score2{
  font-size: 30px;

}

.equal_score {
  background: white;
  background-image: url(../../images/buddhagold.jpg);
  background-size:75%;
  background-position-x: 13px;
  background-repeat: no-repeat;
  background-position-y: 50px;
  padding-bottom:30px;
  height: 100px;
  width: 100px;
  text-align: center
}

.flex-container {
  margin-bottom:-30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between
}

.topper{
  margin: -20px;
  background-image: url(../../images/goldrushfire.gif);
  background-size:contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 140px;
}

.flex-container2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between
}


.mainBoard {
  /* background-size: contain; */
  /* background-position: center; */
  display: block;
  margin: auto;
  margin-bottom: 20px;
  border: 1px solid black;
}

#introductionTitle {
  font-size: 3em;
  margin: 30px;
  text-align: center;
  color: green;
}

#introductionDescription {
  font-size: 2em;
  margin: 30px;
  text-align: center;
  color: red;
}

.JoinButton {
  background: yellow;
  font-family:'Rye', cursive;
  font-size: 2em;
  /* text-align: center; */
  /* margin: auto; */
}